<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="ColoredConsole" name="console"
            layout="${time} ${pad:padding=-5:inner=${level:uppercase=true}} ${pad:padding=-12:inner=${logger:shortname=true}} ${message}" 
            header="${time} BEGIN"
            footer="${time} END"/>
    <target xsi:type="File" name="file"
            layout="${time} ${pad:padding=-5:inner=${level:uppercase=true}} ${pad:padding=-12:inner=${logger:shortname=true}} ${message}"
            fileName="${basedir}/logs/${var:starttime}.log"
            header="${time} BEGIN"
            footer="${time} END"
            keepFileOpen="true"
            encoding="utf-8"
            maxArchiveFiles="4"
            archiveAboveSize="10240"
            archiveEvery="Day" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>