<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="${time}${pad:padding=-5:inner=${level:uppercase=true}}${pad:padding=-12:inner=${logger:shortname=true}} ${replace-newlines:replacement=\n                               :${message}}"
            header="${time}BEGINВерсия сборки: ${assembly-version} Имя компьютера: ${machinename} PID: ${processid}"
            footer="${time}END  Время жизни: ${processtime}"
            encoding="utf-8">

      <!--<highlight-row condition="level == LogLevel.Trace" backgroundColor="Black" foregroundColor="Blue"/>
      <highlight-row condition="level == LogLevel.Debug" backgroundColor="Black" foregroundColor="Magenta"/>
      <highlight-row condition="level == LogLevel.Info" backgroundColor="Black" foregroundColor="DarkBlue"/>
      <highlight-row condition="level == LogLevel.Warn" backgroundColor="Black" foregroundColor="Magenta"/>
      <highlight-row condition="level == LogLevel.Error" backgroundColor="Black" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Fatal" backgroundColor="Black" foregroundColor="Red"/>-->
      <highlight-row condition="true" backgroundColor="Black" foregroundColor="White"/>

      <highlight-word backgroundColor="Green" foregroundColor="Black" ignoreCase="false" text="BEGIN"/>
      <highlight-word backgroundColor="DarkGray" foregroundColor="Black" ignoreCase="false" text="TRACE"/>
      <highlight-word backgroundColor="DarkYellow" foregroundColor="Black" ignoreCase="false" text="DEBUG"/>
      <highlight-word backgroundColor="White" foregroundColor="Black" ignoreCase="false" text="INFO "/>
      <highlight-word backgroundColor="Magenta" foregroundColor="Black" ignoreCase="false" text="WARN "/>
      <highlight-word backgroundColor="Yellow" foregroundColor="Black" ignoreCase="false" text="ERROR"/>
      <highlight-word backgroundColor="DarkRed" foregroundColor="Black" ignoreCase="false" text="FATAL"/>
      <highlight-word backgroundColor="Red" foregroundColor="Black" ignoreCase="false" text="END  "/>

      <highlight-word backgroundColor="Black" foregroundColor="White" ignoreCase="false" wholeWords="true" text="Black"/>
      <highlight-word backgroundColor="DarkBlue" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkBlue"/>
      <highlight-word backgroundColor="DarkCyan" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkCyan"/>
      <highlight-word backgroundColor="Blue" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Blue"/>
      <highlight-word backgroundColor="Cyan" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Cyan"/>
      <highlight-word backgroundColor="DarkGray" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkGray"/>
      <highlight-word backgroundColor="DarkGreen" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkGreen"/>
      <highlight-word backgroundColor="DarkMagenta" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkMagenta"/>
      <highlight-word backgroundColor="DarkRed" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkRed"/>
      <highlight-word backgroundColor="DarkYellow" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="DarkYellow"/>
      <highlight-word backgroundColor="Gray" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Gray"/>
      <highlight-word backgroundColor="Green" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Green"/>
      <highlight-word backgroundColor="Magenta" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Magenta"/>
      <highlight-word backgroundColor="Red" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Red"/>
      <highlight-word backgroundColor="White" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="White"/>
      <highlight-word backgroundColor="Yellow" foregroundColor="Black" ignoreCase="false" wholeWords="true" text="Yellow"/>

      <highlight-word backgroundColor="Gray" foregroundColor="Black" ignoreCase="false" regex="[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{4}" compileRegex="true"/>
    </target>
    <target xsi:type="File" name="file"
            layout="${time} ${pad:padding=-5:inner=${level:uppercase=true}} ${pad:padding=-12:inner=${logger:shortname=true}} ${message}"
            fileName="${basedir}/logs/${var:starttime}.log"
            header="${time} BEGIN Версия сборки: ${assembly-version} Имя компьютера: ${machinename} PID: ${processid}"
            footer="${time} END   Время жизни: ${processtime}"
            keepFileOpen="true"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>